* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 110vh;
  background: #141414;
}
header {
  width: 100%;
  padding: 25px 60px;
}
.logo {
  width: 111px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h2 {
  font-size: 64px;
  font-weight: 400;
}
.profile-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 50px;
  margin-bottom: 30px;
}
.profile-card p {
  margin-top: 20px;
  color: #6d6d6eb2;
  font-size: 26px;
  text-align: center;
}
.profile-card img {
  width: 200px;
}
button {
  padding: 10px 30px;
  background-color: transparent;
  color: #808080;
  font-size: 26px;
  border: 1px solid #808080;
}
