:root {
  --primary-white: #fff;
  --primary-red: #e50914;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000000;
  font-family: sans-serif;
}
h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.01em;
  text-align: center;
}
header {
  width: 100%;
  padding: 23px 56px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 111px;
}
nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
li {
  list-style: none;
}
nav li select,
nav li a {
  padding: 7px 16px;
}
nav li a {
  background: var(--primary-red);

  text-decoration: none;
  color: var(--primary-white);
  height: 100%;
}
section {
  width: 100%;
  border-bottom: 8px solid #222222;
}
.hero {
  background-image: url(./Assets/image_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  min-height: 647px;
}
.hero-content {
  width: max(50vw, 600px);
  margin: 0 auto;
  color: var(--primary-white);
}
.hero-content h1 {
  color: var(--primary-white);
  font-weight: 700;
  font-size: clamp(64px, 8vw, 48px);
  text-align: center;
}
.hero-content h3 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}
.subtitle {
  font-size: 19px;
  font-weight: 500;
  text-align: center;
  line-height: 24.26px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
input[type="email"] {
  padding: 24px 7px;
  width: 90%;
  max-width: 500px;
  border-radius: 2px 0px 0px 2px;
  font-size: 16px;
  border: 1px;
}
input[type="button"] {
  background: var(--primary-red);
  color: var(--primary-white);
  padding: 16px 31px;
  width: 247px;
  border-radius: 0px 2px 2px 0px;
  font-size: 30px;
  border: 1px;
}
.content {
  margin: 0 auto;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
}
.content:nth-child(even) {
  flex-direction: row-reverse;
}
.left {
  padding: 70px;
}
.left h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.01em;
  text-align: left;
}
.left p {
  font-size: 26px;
  line-height: 33px;
  text-align: left;
}
.right {
  height: 100%;
}
.right img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.questions {
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions ul {
  max-width: 815px;
  width: 80%;
}
.questions li {
  background: #303030;
  padding: 21px 31px;
  margin-bottom: 9px;
}
.call p {
  font-size: 16px;
}
.footer-content {
  max-width: 883px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #808080;
}
.social img {
  width: 24px;
  margin-right: 20px;
}
.links ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.links li {
  list-style: none;
  margin-bottom: 15px;
}
.links a {
  text-decoration: none;
  color: #757575;
  font-size: 13px;
}
footer select {
  width: 132px;
  padding: 10px 15px;
  background-color: transparent;
  color: #999999;
  font-size: 19px;
  border: 1px solid #999999;
}
.copyright {
  font-size: 13px;
  text-align: left;
  color: #757575;
}
@media screen and (max-width: 540px) {
  .content,
  .content:nth-child(even) {
    flex-direction: column;
    height: unset;
  }

  .links ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  form {
    flex-direction: column;
    gap: 15px;
  }
}
@media screen and (max-width: 425px) {
  nav li select {
    display: none;
  }
}
